@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NoSun</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Build a Hero</h2>
        <p><a class="btn btn-success" @Html.ActionLink("Create", "Create", "Characters")</a></p>
    </div>
    <div class="col-md-4">
        <h1>BATTLE</h1>
        <p><a class="btn btn-danger" >FIGHT &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Build a Monster</h2>
        <p><a class="btn btn-primary" @Html.ActionLink("Create", "Create", "Monsters")</a></p>
    </div>
</div>